@import "tailwindcss";

:root {
  --background: #1a1a1a;
  --foreground: #ffffff;
  --p-color: #b9acac;
  --tech-bg-color: #2d2d2d;
  --tech-info-color: #e0e0e0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), sans-serif;
}

p {
  color: var(--p-color);
}

.tech-badge {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  margin-right: 14px;
  margin-bottom: 0.75rem;
  font-size: 0.8rem;
  border-radius: 0.5rem;
  background-color: var(--tech-bg-color);
  color: var(--tech-info-color);
}
