.image-resizer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
}

.image-resizer-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

/* Ajustar las posiciones de los controladores para que coincidan con el borde de la imagen */
.image-resizer.image-resizer-n {
  top: -6px;
  left: 48%;
  cursor: n-resize;
}

.image-resizer.image-resizer-ne {
  top: -6px;
  right: -6px;
  cursor: ne-resize;
}

.image-resizer.image-resizer-e {
  top: 48%;
  right: -6px;
  cursor: e-resize;
}

.image-resizer.image-resizer-se {
  bottom: -6px;
  right: -6px;
  cursor: se-resize;
}

.image-resizer.image-resizer-s {
  bottom: -6px;
  left: 48%;
  cursor: s-resize;
}

.image-resizer.image-resizer-sw {
  bottom: -6px;
  left: -6px;
  cursor: sw-resize;
}

.image-resizer.image-resizer-w {
  top: 48%;
  left: -6px;
  cursor: w-resize;
}

.image-resizer.image-resizer-nw {
  top: -6px;
  left: -6px;
  cursor: nw-resize;
}

/* Estilos para los controladores individuales */
.image-resizer {
  display: block;
  width: 7px;
  height: 7px;
  position: absolute;
  background-color: rgb(60, 132, 244);
  border: 1px solid #fff;
}

.image-resizer.image-control {
  position: absolute;
  right: 0;
  top: 0;
  padding: 6px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.image-resizer.image-control:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.image-resizer.image-control button {
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.image-caption-container {
  margin-top: 10px;
}
