
i.palette {
    background-image: url(/icons/palette.svg);
  }
  
  i.bucket {
    background-image: url(/icons/paint-bucket.svg);
  }
  
  i.bold {
    background-image: url(/icons/type-bold.svg);
  }
  
  i.italic {
    background-image: url(/icons/type-italic.svg);
  }
  
  i.clear {
    background-image: url(/icons/trash.svg);
  }
  
  i.code {
    background-image: url(/icons/code.svg);
  }
  
  i.underline {
    background-image: url(/icons/type-underline.svg);
  }
  
  i.uppercase {
    background-image: url(/icons/type-uppercase.svg);
  }
  
  i.lowercase {
    background-image: url(/icons/type-lowercase.svg);
  }
  
  i.capitalize {
    background-image: url(/icons/type-capitalize.svg);
  }
  
  i.strikethrough {
    background-image: url(/icons/type-strikethrough.svg);
  }
  
  i.subscript {
    background-image: url(/icons/type-subscript.svg);
  }
  
  i.superscript {
    background-image: url(/icons/type-superscript.svg);
  }
  
  i.highlight {
    background-image: url(/icons/highlighter.svg);
  }
  
  i.link {
    background-image: url(/icons/link.svg);
  }
  
  i.horizontal-rule {
    background-image: url(/icons/horizontal-rule.svg);
  }
  
  .icon.plus {
    background-image: url(/icons/plus.svg);
  }
  
  .icon.caret-right {
    background-image: url(/icons/caret-right-fill.svg);
  }
  
  .icon.dropdown-more {
    background-image: url(/icons/dropdown-more.svg);
  }
  
  .icon.font-color {
    background-image: url(/icons/font-color.svg);
  }
  
  .icon.font-family {
    background-image: url(/icons/font-family.svg);
  }
  
  .icon.bg-color {
    background-image: url(/icons/bg-color.svg);
  }
  
  .icon.table {
    background-color: #6c757d;
    mask-image: url(/icons/table.svg);
    -webkit-mask-image: url(/icons/table.svg);
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-size: contain;
  }
  
  i.image {
    background-image: url(/icons/file-image.svg);
  }
  
  i.table {
    background-image: url(/icons/table.svg);
  }
  
  i.close {
    background-image: url(/icons/close.svg);
  }
  
  i.figma {
    background-image: url(/icons/figma.svg);
  }
  
  i.poll {
    background-image: url(/icons/card-checklist.svg);
  }
  
  i.columns {
    background-image: url(/icons/3-columns.svg);
  }
  
  i.x {
    background-image: url(/icons/x.svg);
  }
  
  i.youtube {
    background-image: url(/icons/youtube.svg);
  }
  
  .icon.left-align,
  i.left-align {
    background-image: url(/icons/text-left.svg);
  }
  
  .icon.center-align,
  i.center-align {
    background-image: url(/icons/text-center.svg);
  }
  
  .icon.right-align,
  i.right-align {
    background-image: url(/icons/text-right.svg);
  }
  
  .icon.justify-align,
  i.justify-align {
    background-image: url(/icons/justify.svg);
  }
  
  .icon.vertical-top,
  i.left-align {
    background-image: url(/icons/vertical-top.svg);
  }
  
  .icon.vertical-middle,
  i.center-align {
    background-image: url(/icons/vertical-middle.svg);
  }
  
  .icon.vertical-bottom,
  i.right-align {
    background-image: url(/icons/vertical-bottom.svg);
  }
  
  i.indent {
    background-image: url(/icons/indent.svg);
  }
  
  i.markdown {
    background-image: url(/icons/markdown.svg);
  }
  
  i.outdent {
    background-image: url(/icons/outdent.svg);
  }
  
  i.undo {
    background-image: url(/icons/arrow-counterclockwise.svg);
  }
  
  i.redo {
    background-image: url(/icons/arrow-clockwise.svg);
  }
  
  i.sticky {
    background-image: url(/icons/sticky.svg);
  }
  
  i.mic {
    background-image: url(/icons/mic.svg);
  }
  
  i.import {
    background-image: url(/icons/upload.svg);
  }
  
  i.export {
    background-image: url(/icons/download.svg);
  }
  
  i.share {
    background-image: url(/icons/send.svg);
  }
  
  i.diagram-2 {
    background-image: url(/icons/diagram-2.svg);
  }
  
  i.user {
    background-image: url(/icons/user.svg);
  }
  
  i.equation {
    background-image: url(/icons/plus-slash-minus.svg);
  }
  
  i.gif {
    background-image: url(/icons/filetype-gif.svg);
  }
  
  i.copy {
    background-image: url(/icons/copy.svg);
  }
  
  i.success {
    background-image: url(/icons/success.svg);
  }
  
  i.prettier {
    background-image: url(/icons/prettier.svg);
  }
  
  i.prettier-error {
    background-image: url(/icons/prettier-error.svg);
  }
  
  i.page-break,
  .icon.page-break {
    background-image: url(/icons/scissors.svg);
  }




.icon.paragraph {
    background-image: url(/icons/text-paragraph.svg);
  }
  
  .icon.h1 {
    background-image: url(/icons/type-h1.svg);
  }
  
  .icon.h2 {
    background-image: url(/icons/type-h2.svg);
  }
  
  .icon.h3 {
    background-image: url(/icons/type-h3.svg);
  }
  
  .icon.h4 {
    background-image: url(/icons/type-h4.svg);
  }
  
  .icon.h5 {
    background-image: url(/icons/type-h5.svg);
  }
  
  .icon.h6 {
    background-image: url(/icons/type-h6.svg);
  }
  
  .icon.bullet-list,
  .icon.bullet {
    background-image: url(/icons/list-ul.svg);
  }
  
  .icon.check-list,
  .icon.check {
    background-image: url(/icons/square-check.svg);
  }
  
  .icon.numbered-list,
  .icon.number {
    background-image: url(/icons/list-ol.svg);
  }
  
  .icon.quote {
    background-image: url(/icons/chat-square-quote.svg);
  }
  
  .icon.code {
    background-image: url(/icons/code.svg);
  }
  